PORT=3000
DB_HOST=aws-1-us-east-1.pooler.supabase.com
DB_PORT=5432
DB_USER=postgres.<project_ref>
DB_PASSWORD=CHANGE_ME   # si lleva #, en el .env real va entre comillas
DB_NAME=postgres
DB_SSL=true
JWT_SECRET=CHANGE_ME

# storage 
SUPABASE_URL=https://<project>.supabase.co
SUPABASE_SERVICE_ROLE=CHANGE_ME
SUPABASE_BUCKET=products